.designer-container {
    height: 100%;
    width: 100%;
    background-color: #333;
    display: flex;
    flex-direction: column;
}

@media only screen and (orientation: landscape) {
    .designer-container {
        flex-direction: row;
    }
    .scene-container {
        width: 60% !important;
        height: 100% !important;
    }
    .interface-container {
        width: 40% !important;
        height: 100% !important;
    }
    /* .navbar-container {
        left: 0;
    } */
    /* .graphic-editor-container {
        height: unset !important;
    } */
    .navbar-container p {
        color: #000;
    }
    #loading-screen {
        width: 60% !important;
        height: 100% !important;
    }
    .part-selector-container {
        padding-top: 1rem;
    }
}