.part-selector-container div {
  display: flex;
  width: 100%;
  justify-content: center;
}

.partname-button {
  font-family: 'Inter';
  margin: auto;
  padding: 12px;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
}

.change-part-button {
  font-weight: bold;
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  padding-left: 15px;
  padding-right: 15px;
}

.part-selector-container div button:focus {
  outline: none;
}
