.base-color-selector {
  margin-top: 16px;
}

.base-color-buttons {
  display: flex;
  flex-direction: row;
  margin-left: 12px;
  margin-right: 12px;
}

.base-color-button {
  width: 100%;
  margin-left: 4px;
  margin-right: 4px;
}

.base-color-button button {
  height: 40px;
  background-color: #434343;
  color: #ffffff;
  border: none;
  padding: 8px;
  width: 100%;
  font-size: 13px;
  text-transform: capitalize;
}

.base-color-button button:focus {
  outline: none;
}
