.custom-color {
    width: 60%;
    margin: auto;
}

.color-input {
    margin-bottom: 15px;
    /* overflow: hidden; */
    /* background-color: #ffffff; */
}

.custom-color-input {
    display: inline;
}