.basic-button {
  margin: 16px;
  margin-top: 0px;
}

.basic-button button {
  height: 40px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 8px;
  width: 100%;
  font-size: 13px;
  text-transform: capitalize;
}

.basic-button button:focus {
  outline: none;
}

.basic-paragraph {
  margin: 16px;
  padding: 0px;
  text-align: center;
}
