.new-design-button {
  margin-left: 16px !important;
  margin-right: 16px !important;
  margin-bottom: 32px !important;
}

.new-design-button button {
  background-color: #000000 !important;
  height: 50px !important;
  font-size: 18px !important;
}

.new-design-button a {
  text-decoration: none;
  width: 100%;
}
