.layers-box-container {
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column-reverse;
}

.layer-list-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.layer-list-item-end {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
}

.layer-list-item-end div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.layer-list-item-end div button {
    padding: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.layer-list-item-middle {
    outline: #f9f9f9 solid 1px;
    width: 225px;
    height: 32px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.layer-list-item-type {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.edit-layer-button button {
    border: none;
    background-color: #111;
    color: #f9f9f9;
    height: 100%;
}

.add-layer-button {
    margin: auto;
    width: 225px;
}

.add-layer-button button {
    border: none;
    background-color: transparent;
    color: #f9f9f9;
    width: 100%;
    height: 32px;
    outline: #f9f9f9 solid 1px;
    margin-bottom: 15px;
}