.partlist-container {
  height: 100%;
}

.partlist-buttons {
  height: 70%;
  overflow: auto;
  overflow-x: hidden;
  margin-bottom: 10px;
}

.partlist-title {
  padding: 16px;
  text-align: center;
}

.partlist-title p {
  margin: 0;
}
