.partlist-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.partlist-buttons {
  /* height: 65%; */
  overflow: auto;
  overflow-x: hidden;
  margin-bottom: 10px;
}

.partlist-title {
  padding: 16px;
  text-align: center;
}

.partlist-title p {
  margin: 0;
}

.bottom-button {
  margin-bottom: 16px;
}
