.link-to-designer {
  text-decoration: none;
}

.featureddesigncard-container {
  width: 200px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 0px;
  flex: 0 0 auto;
  font-family: 'Mavin Pro', 'Arial Narrow', Arial, sans-serif;
}

.featureddesigncard-container:first-child {
  padding-left: 8px;
}
.featureddesigncard-container:last-child {
  padding-right: 16px;
}

.featureddesigncard-image {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.featureddesigncard-image img {
  width: 100%;
}

.featureddesigncard-title {
  color: #000000;
  font-size: 22px;
  margin-top: 9px;
  margin-bottom: 0px;
  margin-left: 5px;
}

.featureddesigncard-model {
  color: #000000;
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: 0px;
  margin-left: 5px;
}

.featureddesigncard-author {
  color: #777;
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: 0px;
  margin-left: 5px;
}
