.design-preview-container {
  width: 100%;
}

.view-title p {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 18px;
}

.design-preview-info {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.design-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.design-title {
  margin: 0px;
  margin-bottom: 5px;
}

.edit-design-title-button {
  background-color: transparent;
  border: none;
  padding: 0px;
}

.edit-design-title-button:focus {
  outline: none;
}

.edit-design-title-button svg {
  font-size: 16px;
  color: #ffffff;
}

.design-model {
  margin: 0px;
  font-size: 13px;
  color: #999999;
}

.design-preview-container a {
  text-decoration: none;
}

/* Standard Button */
.standard-button {
  /* width: 90%;
  margin: auto; */
  /* width: 100%; */
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 10px;
}

.standard-button button {
  height: 40px;
  background-color: #434343;
  color: #ffffff;
  border: none;
  padding: 8px;
  width: 100%;
  font-size: 13px;
  text-transform: capitalize;
}

.standard-button button:focus {
  outline: none;
}

/* Design Preview Button */
.design-preview-button {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.design-preview-button-icon {
  width: 30px;
  font-size: 16px;
  margin-top: auto;
  margin-bottom: auto;
  color: #ffffff;
  line-height: 0px;
}

.design-preview-button button {
  width: 100%;
  height: 40px;
  background-color: #434343;
  color: #ffffff;
  border: none;
  padding-left: 12px;
  width: 100%;
  font-size: 13px;
}

.design-preview-button button:focus {
  outline: none;
}

.save-deactivated button {
  color: #999999;
}

.save-deactivated svg {
  color: #999999;
}
