.view-title p {
  text-align: center;
  padding: 10px;
  margin: 0;
}

.design-preview-container a {
  text-decoration: none;
}

/* Standard Button */
.standard-button {
  width: 90%;
  margin: auto;
  margin-bottom: 15px;
}

.standard-button button {
  background-color: #434343;
  color: #ffffff;
  border: none;
  padding: 8px;
  width: 100%;
  font-size: 13px;
}

.standard-button button:focus {
  outline: none;
}
