/* ALice Carousel */
.alice-carousel__dots {
  margin-top: 15px !important;
}

.alice-carousel__dots-item:not(.custom).__active {
  background-color: #000000 !important;
}

.alice-carousel__dots-item:not(.custom) {
  background-color: #999999 !important;
}

.alice-carousel__prev-btn {
  display: none !important;
}

.alice-carousel__next-btn {
  display: none !important;
}

/* Mobile */
@media screen and (max-width: 700px) {
  .alice-carousel__dots {
    display: none !important;
  }
  .alice-carousel__prev-btn {
    display: none !important;
  }
  .alice-carousel__next-btn {
    display: none !important;
  }
}
