.mydesigntiles-container {
  margin-top: 16px;
  width: 100%;
}

.my-designs-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
  margin: 3px;
}

.my-design-tile {
  width: 100%;
  background-color: #f0f0f0;
}

.my-design-tile img {
  width: 100%;
}

/* Mobile and Desktop Landscape */
@media only screen and (orientation: landscape) {
  .my-designs-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
