.upload-image-container {
  padding-top: 16px;
}

.upload-image-input {
  padding-top: 10px;
  padding-bottom: 11px;
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 9px;
  background-color: #f9f9f9;
  color: #333333;
  border-radius: 5px;
  text-align: center;
}

.upload-image-label {
  font-size: 16px;
  padding: 12px 43%;
}

#image-input-id {
  display: none;
}

.file-size-warning {
  text-align: center;
  font-size: 16px;
  color: #ff5555;
}

#loading-small {
  width: 100%;
  height: calc(100vh - 100vw);
}

.used-graphics {
  width: 100%;
  /* margin-top: 16px; */
  margin-bottom: 16px;
}

/* Mobile and Desktop Landscape */
@media only screen and (orientation: landscape) {
  #loading-small {
    width: 100%;
    height: 100vh;
  }
}
