.interface-container {
    height: 50%;
    color: #eee;
    max-width: 400px;
    /* margin: auto; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

/* .interface-container div {
    max-width: 375px;
    margin: auto;
} */