.upload-image-input {
  padding-top: 7px;
  padding-bottom: 9px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  background-color: #f9f9f9;
  color: #333333;
  text-align: center;
}

.upload-image-label {
  font-size: 13px;
  padding: 10px 43%;
}

#image-input-id {
  display: none;
}
