.landing-container {
  background-color: #f9f9f9;
  height: 100%;
}

.landing-header {
  position: fixed;
  top: 0;
  /* width: 100%; */
  left: 0;
  right: 0;
  height: 22px;
  color: #f9f9f9;
  background-color: #000000;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.landing-header p {
  margin: 0;
}

.landing-header a {
  color: #ffffff;
  text-decoration: none;
}

.landing-content {
  width: 100%;
  max-width: 700px;
  margin: auto;
  margin-top: 50px;
}

.featured-designs-container {
  margin-top: 8px;
  margin-bottom: 32px;
}
.feature-designs {
  display: flex;
  overflow-x: auto;
  padding-bottom: 5px;
}
.landing-section-label {
  font-family: 'Poppins', 'Roboto', 'Ariel';
  margin: 0px;
  margin-left: 16px;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: bold;
}
