.graphic-editor-container {
  height: 100%;
}

.graphic-editor-upper {
  height: 80%;
  width: 100%;
  position: relative;
}

.graphic-editor-buttons {
  padding: 5px;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr 3fr 1fr;
  z-index: 1;
  grid-template-areas:
    'counter . up . clock'
    '. . . . .'
    'left . . . right'
    '. . . . .'
    'compress . down . expand';
}

#left-button {
  grid-area: left;
}
#right-button {
  grid-area: right;
}
#up-button {
  grid-area: up;
}
#down-button {
  grid-area: down;
}
#counterclockwise-button {
  grid-area: counter;
}
#clockwise-button {
  grid-area: clock;
}
#scale-up-button {
  grid-area: expand;
}
#scale-down-button {
  grid-area: compress;
}

.graphic-edit-button {
  background-color: #00000077;
  color: #f9f9f9;
  width: 40px;
  height: 40px;
  border: none;
  margin: auto;
  border-radius: 50px;
  padding: 0px;
  font-size: 20px;
}

.graphic-edit-button:focus {
  outline: none;
}

.graphic-edit-button svg {
  display: block;
  margin: auto;
}

.graphic-interface-button {
  border: none;
  background-color: transparent;
  color: #f9f9f9;
}

.graphic-interface-button:focus {
  outline: none;
}

.graphic-editor-lower {
  display: flex;
  flex-direction: row;
  margin: 16px 4px;
  position: relative;
  z-index: 2;
}

.graphic-editor-lower-button {
  width: 100%;
  margin-bottom: 0px;
  margin-left: 4px;
  margin-right: 4px;
}

#graphic-visual-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#graphic-visual-canvas {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.mirror-graphic-visual {
  transform: scaleX(-1);
}

/* Desktop Landscape */
@media screen and (min-device-width: 1000px) and (orientation: landscape) {
  .graphic-editor-upper {
    height: 50%;
  }
}
