.login-container {
  max-width: 400px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-google-button {
  margin: 16px;
}

.login-google-button button {
  height: 40px;
  background-color: #4285f4;
  color: #ffffff;
  border: none;
  padding: 8px;
  width: 100%;
  font-size: 13px;
  text-transform: capitalize;
}

.login-google-button button:focus {
  outline: none;
}
