.navbar-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.navbar-container a {
  text-decoration: none;
}

.navbar-container p {
  display: inline;
  margin: 0;
  padding: 3px;
  color: #333;
  background-color: none;
}
