.color-picker {
  margin: auto;
  margin-bottom: 15px;
}

.random-color {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.color-picker-container button {
  background-color: #f9f9f9;
  border: none;
  padding: 8px;
  width: 60%;
}

.color-picker-container button:focus {
  outline: none;
}
